@media (max-width: 768px) {
  .container,
  .menu {
    flex-direction: column;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .menu {
    margin-top: 15px;
  }
  .menu li {
    padding: 15px 0;
  }
  .menu li a {
    font-size: 18px;
    padding: 17px 30px;
  }

  footer .termo,
  footer .fale-conosco,
  footer .privacidade {
    display: block;
  }

  .brand-name,
  .logo {
    justify-content: center;
  }

  .make-order,
  .menu,
  .pizza-order-form,
  .contact-form,
  .contact-us {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
  }

  .order-button,
  .contact-button {
    font-size: 1.5rem;
  }

  .pizza-order-form,
  .contact-form {
    width: 40rem;
  }
  .main-page-figures {
    display: none;
  }
  .full-menu .pizza,
  .full-menu .bebidas {
    width: 10rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 576px) {
  .pizza-order-form,
  .contact-form {
    width: 20rem;
  }
  .main-page-figures {
    display: none;
  }
  .full-menu .pizza,
  .full-menu .bebidas {
    width: 2.5rem;
    font-size: 1rem;
  }
  .make-order,
  .menu,
  .pizza-order-form,
  .contact-form,
  .contact-us {
    font-size: 1rem;
    margin-top: 2rem;
  }
  .full-menu .bebidas {
    margin-left: 10rem;
  }

  .pizza img,
  .bebidas img {
    width: 3rem;
    height: 4rem;
  }
}
